<h1>BIENVENIDO AL TEAM</h1>


<%= link_to "http://facebook.com",target: "_blank" do%>
<%= image_tag "hombre.jpg"%>
<%end%>

<%= link_to "http://facebook.com",target: "_blank" do%>
<%= image_tag "mujer.jpg"%>
<%end%>

<%= link_to "home","/"%>
<%= link_to "about","/about"%>
